body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* For Bar Chart */
.axis {
    font: 10px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.axis .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}

.axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: round;
}

}

#life_expectency_chart div {
    font-size: 0.5em;
    font-family: sans-serif;
    color: white;
    background-color: steelblue;
    text-align: right;
    padding: 0.5em;
    margin: 0.2em;
}

#life_expect_chart_synth div {
    font-size: 0.5em;
    font-family: sans-serif;
    color: white;
    background-color: steelblue;
    text-align: right;
    padding: 0.5em;
    margin: 0.2em;
}


#life_expect_chart_official div {
    font-size: 0.5em;
    font-family: sans-serif;
    color: white;
    background-color: steelblue;
    text-align: right;
    padding: 0.5em;
    margin: 0.2em;
}

div.bar {
    display: inline-block;
    width: 50px;
    height: 75px;
    margin-right: 2px;
    background-color: teal;

}

/* For sliders */
.wrapper div {
    margin: 35px 0;
}
.wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    pointer-events: none;
}

/* General CSS */

.col-md-2 {
    padding: 5px 5px 5px 5px;
}

.col-md-6 {
    padding: 5px 5px 5px 5px;
}

.rowtall {
    min-height: 230px;
}

.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}
